<div class="modal-overlay" *ngIf="isVisible" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <h2>Product details</h2>

    <table class="events-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Category name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ productDetails.name }}</td>
          <td>{{ productDetails.description }}</td>
          <td>{{ productDetails.price }}</td>
          <td>{{ productDetails.categoryName }}</td>
        </tr>
      </tbody>      
    </table>

    <button *ngIf="!isEditing && isAdmin()" class="grey-button" (click)="toggleEdit()">Edit</button>

    <h2 *ngIf="isEditing">Edit product</h2>
    <form *ngIf="isEditing" (ngSubmit)="saveChanges()" class="product-form">
      <input
        id="name"
        [(ngModel)]="editedProduct.name"
        name="name"
        placeholder="Name"
        required
      />

      <input
        id="description"
        [(ngModel)]="editedProduct.description"
        name="description"
        placeholder="Description"
        required
      />

      <input
        id="price"
        [(ngModel)]="editedProduct.price"
        name="price"
        placeholder="Price"
        required
      />

      <select 
        id="categoryName" 
        [(ngModel)]="editedProduct.categoryName" 
        name="categoryName" 
        required>
        <option value="" disabled selected>Select category</option>
        <option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
        </option>
      </select>
    
      <div class="form-buttons">
        <button class="grey-button" type="submit">Confirm</button>
        <button class="grey-button" type="button" (click)="toggleEdit()">Cancel</button>
      </div>
    </form>

    <button class="red-button" (click)="close()">Close</button>
    
  </div>
</div>
